@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}

.home-page {
    --theme-bg-color: rgba(16, 18, 27, 40%);
    --border-color: rgba(113 119 144, 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113, 119, 144, 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12, 15, 25, 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179, 13%);
    --popup-bg: rgb(22, 25, 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3, 40%);
}


html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--body-font);
    background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 480px) {
        padding: 0.8em;
    }
}



img {
    max-width: 100%;
}

.dark-light {
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;

    svg {
        width: 24px;
        flex-shrink: 0;
        fill: #ffce45;
        stroke: #ffce45;
        transition: 0.5s;
    }
}

.light-mode {
    .dark-light svg {
        fill: transparent;
        stroke: var(--theme-color);
    }

    .content-section ul {
        background-color: var(--theme-bg-color);
    }

    .pop-up__title {
        border-color: var(--theme-color);
    }
}

.app {
    background-color: var(--theme-bg-color);
    max-width: 1250px;
    max-height: 860px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;

    @media screen and (max-width: 480px) {
        padding: 0 16px;
    }

    &-menu {
        display: flex;
        align-items: center;

        a {
            padding: 20px 30px;
            text-decoration: none;
            color: var(--inactive-color);
            border-bottom: 2px solid transparent;
            transition: 0.3s;

            @media screen and (max-width: 610px) {
                &:not(.main-header-link) {
                    display: none;
                }
            }

            &.is-active,
            &:hover {
                color: var(--theme-color);
                border-bottom: 2px solid var(--theme-color);
            }
        }
    }
}



.menu-circle {
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    margin-right: 195px;
    flex-shrink: 0;

    @media screen and (max-width: 945px) {
        display: none;
    }
}

.search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 300px;
    padding-left: 16px;
    border-radius: 4px;

    input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--search-bg);
        border-radius: 4px;
        font-family: var(--body-font);
        font-size: 15px;
        font-weight: 500;
        padding: 0 20px 0 40px;
        box-shadow: 0 0 0 2px rgba(134, 140, 160, 2%);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: 16px 48%;
        color: var(--theme-color);

        &::placeholder {
            font-family: var(--body-font);
            color: var(--inactive-color);
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.wide {

    .header-menu,
    .header-profile {
        display: none;
    }

    .search-bar {
        max-width: 800px;
        margin: auto;
        transition: 0.4s;
        box-shadow: 0 0 0 1px var(--border-color);
        padding-left: 0;
    }

    .menu-circle {
        margin-right: 0;
    }
}

.wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.left-side {
    flex-basis: 240px;
    border-right: 1px solid var(--border-color);
    padding: 26px;
    overflow: auto;
    flex-shrink: 0;

    @media screen and (max-width: 945px) {
        display: none;
    }
}

.side-wrapper+.side-wrapper {
    margin-top: 20px;
}

.side-title {
    color: var(--inactive-color);
    margin-bottom: 14px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: var(--theme-color);
        display: flex;
        align-items: center;
        font-weight: 400;
        padding: 10px;
        font-size: 14px;
        border-radius: 6px;
        transition: 0.3s;

        &:hover {
            background-color: var(--hover-menu-bg);
        }
    }

    svg {
        width: 16px;
        margin-right: 8px;
    }
}

.updates {
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    width: 18px;
    height: 18px;
    font-size: 11px;
}

.main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 58px;
    flex-shrink: 0;

    .header-menu {
        margin-left: 150px;

        @media screen and (max-width: 1055px) {
            margin: auto;
        }

        a {
            padding: 20px 24px;
        }
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu-link-main {
    text-decoration: none;
    color: var(--theme-color);
    padding: 0 30px;

    @media screen and (max-width: 1055px) {
        display: none;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--theme-color);
    padding: 20px 40px;
    height: 100%;
    overflow: auto;
    background-color: var(--theme-bg-color);

    @media screen and (max-width: 510px) {
        padding: 20px;
    }

    &-header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-radius: 14px;
        padding: 20px 40px;

        @media screen and (max-width: 415px) {
            padding: 20px;
        }
    }

    &.overlay {
        pointer-events: none;
        transition: 0.3s;
        background-color: var(--overlay-bg);
    }
}

.overlay-app {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: all;
    background-color: rgba(36, 39, 59, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &.is-active {
        visibility: visible;
        opacity: 1;
    }
}

.img-content {
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0;

    svg {
        width: 28px;
        margin-right: 14px;
    }
}


.content-wrapper-context {
    max-width: 350px;
}


.content-wrapper-img {
    width: 186px;
    object-fit: cover;
    margin-top: -25px;
    object-position: center;

    @media screen and (max-width: 570px) {
        width: 110px;
    }
}

.content-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &-title {
        color: var(--content-title-color);
        margin-bottom: 14px;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        background-color: var(--content-bg);
        padding-left: 0;
        margin: 0;
        border-radius: 14px;
        border: 1px solid var(--theme-bg-color);
        cursor: pointer;

        li {
            list-style: none;
            padding: 10px 18px;
            display: flex;
            align-items: center;
            font-size: 16px;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            transition: 0.3s;

            &:hover {
                background-color: var(--theme-bg-color);

                &:first-child {
                    border-radius: 13px 13px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 13px 13px;
                }
            }

            &+li {
                border-top: 1px solid var(--border-color);
            }
        }

        svg {
            width: 28px;
            border-radius: 6px;
            margin-right: 16px;
            flex-shrink: 0;
        }
    }
}

.products {
    display: flex;
    align-items: center;
    width: 150px;

    @media screen and (max-width: 480px) {
        width: 120px;
    }
}



.menu {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 12px;
}

@media screen and (max-width: 415px) {
    .adobe-product .menu {
        display: none;
    }
}

.content-section .close {
    margin-right: 0;
    width: 24px;
}



.apps-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 20px);
}

.app-card {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 20px);
    font-size: 16px;
    background-color: var(--content-bg);
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.02);
        background-color: var(--theme-bg-color);
    }

    &+.app-card {
        margin-left: 20px;
    }

    span {
        display: flex;
        align-items: center;
    }

    &__subtext {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6em;
        margin-top: 20px;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 20px;
    }

    @media screen and (max-width: 1110px) {
        width: calc(50% - 20px);

        &:last-child {
            margin-top: 20px;
            margin-left: 0px;
        }
    }

    @media screen and (max-width: 565px) {
        width: calc(100% - 20px);
        margin-top: 20px;

        &+.app-card {
            margin-left: 0;
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}